<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .red-text {
            color: red;
        }
    </style>
    <meta charset="UTF-8">
    <title>会員ログイン画面</title>
</head>
<body>
    <p th:text="${ sessionModel.sessionName } + ' ' +  ${ sessionModel.sessionTime }"></p>
    <p th:text="${ msg }" class="red-text"></p>
    <form action="/staff/loginCheck" method="post">
        <table border="0">
            <tr>
                <th align="left" valign="top"> ログインID </th>
                <td> <input type="text" name="staffNo"> </td>
            </tr>
            <p th:text="${memberNoError}" class="red-text"></p>            
            <tr>
                <th align="left" valign="top"> パスワード </th>
                <td> <input type="password" name="password"> </td>
            </tr>
            <p th:text="${passwordError}" class="red-text"></p>
        </table>
        <button type="submit" name="button" value="ログイン"> ログイン </button>
        <button type="submit" name="button" value="クリア"> クリア </button>
    </form>
    
</body>
</html>
