<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
</head>
<body>
    <p th:text="${ sessionModel.sessionName } + ' ' +  ${ sessionModel.sessionTime }"></p>

    <a href="/registerForm">新規会員登録</a> </br>
    <a href="/editForm">会員情報修正・削除</a> </br>
    <a href="/searchForm">商品検索</a> </br>
    <a href="/cartForm">お買い物かご</a> </br>

    <button type="button" onclick="location.href='loginForm'">ログイン</button>

</body>
</html>