<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員ログイン画面</title>
</head>
<body>
    ${user_name} さん ${ data_time } </br>

    <form action="/logincheck" method="post">
        <table border="0">
            <tr>
                <th align="left" valign="top"> 会員No </th>
                <td> <input type="text" name="memberNo"> </td>
            </tr>
            <tr>
                <th align="left" valign="top"> パスワード </th>
                <td> <input type="password" name="password"> </td>
            </tr>

        </table>
    </form>
    
    <a>新規会員登録はこちら</a href="/register"> </br>

</body>
</html>