<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品検索画面</title>
</head>
<body>
    <p th:text="${ sessionModel.sessionName } + ' ' +  ${ sessionModel.sessionTime }"></p>

    <form action="/cartGoods" method="get">
        <table border="1">
            <tr>
                <th>選択</th>
                <th>商品コード</th>
                <th>商品名</th>
                <th>販売元</th>
                <th>価格</th>
                <th>購入数</th>
            </tr>

            <th:block th:each=" product : ${products}">
                <tr>
                    <td> <input type="checkbox" th:value="*{ product.selectButton }"> </td>
                    <td align="right" th:text="${ product.productCode }"></td>
                    <td th:text="${ product.productName }"></td>
                    <td th:text="${ product.productSeller }"></td>
                    <td th:text="${ product.productPrice }"></td>
                    <td> <input type="text" th:value="*{product.productCount}" /> </td>
                </tr>
            </th:block>
        </table>

        <button type="submit" name="button" value="clear">取り消し</button>
        <button type="submit" name="button" value="cancel">買い物をやめる</button>
        <button type="submit" name="button" value="order">注文する</button>
        <button type="submit" name="button" value="menu">メニューへ</button>
    </form>

</body>
</html>